name: Push to Replicate

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Check disk space
        run: df -h

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install latest Cog
        run: |
          sudo curl -o /usr/local/bin/cog -L https://github.com/replicate/cog/releases/latest/download/cog_Linux_x86_64
          sudo chmod +x /usr/local/bin/cog
          cog --version

      - name: Login to Replicate
        env:
          COG_TOKEN: ${{ secrets.COG_TOKEN }}
        run: |
          echo "$COG_TOKEN" | cog login --token-stdin

      - name: Build and push
        run: |
          cog push r8.im/dprrwt/ltx2-dprrwt
